.lesson{
  &_list{
   padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &_item{
    margin: 0 auto;
    width: 1230px;
    height: 126px;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.4s ease ;
    &:hover{
      box-shadow: rgb(0 0 0 / 5%) 4px 4px 25px;

      transform: scale(1.05)
    }
  }
}