@import '../../variables';

.header {
  background-color: $main-color;
  height: 65px;
  &_content {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &_img {
    height: 20px;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}
.navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  &_link {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
  }
  &_active {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: red;
  }
}
