.back{
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease ;
  &:hover{
    transform: scale(1.05)
  }
  &_title{
    margin-left: 10px;
    font-size: 17px;
  }
}